.navbar{
    background-color: #182825 !important;
    border-bottom: 3px solid black;
    
}
.navbar-brand{
    font-family: 'Rubik Wet Paint', cursive !important;
    color: #F7C132 !important;
    font-size: 28px !important;
}