<footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">    
      <section class="mb-4">
        <!-- Redirect to news by category -->
        <h4 class="text-center">Useful Links</h4>
        <ul>
            <li><a href="#!">Politics</i></a></li>
            <li><a href="#!">Business</i></a></li>
            <li><a href="#!">Sports</i></a></li>
            <li><a href="#!">Health</i></a></li>
            <li><a href="#!">Technology</i></a></li>
        </ul>        
  
      </section>
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #182825; color: #33673B;">
      © 2022 Copyright:
      <a href="">Debunk News</a>
    </div>
    <!-- Copyright -->
  </footer>