<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
{% extends 'base.html' %} {% block body %}
<div class="opener">
  <h1 class="text-center">{{datum}}</h1>
  <h6 class="text-center">Get all the information you need debunked for you</h6>
</div>

<div class="container-fluid">
  <div class="row">
    {% for news in articles %}
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card" style="width: 28rem; height: 40rem ">
        <img
          src="{{news.urlToImage}}"
          class="card-img-top image-fluid"
          alt="Headline Image"
        />
        <div class="card-body">
          <h5 class="card-title">{{news.title}}</h5>
          <p class="card-text">{{news.description}}</p>

          <div class="footer">
            <a href="{{news.url}}" class="btn btn-warning ftbtn">Read More >></a>
            <div class="ft">
              <p>
                <i
                  ><small><span>Date: </span>{{news.publishedAt}}</small></i
                >
              </p>
              <p>
                <i
                  ><small><span>Written By: </span>{{news.author}}</small></i
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock body %}
