<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/navbar.css') }}"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap"
  rel="stylesheet"
/>

<nav class="navbar navbar-expand-lg navbar-light bg-danger fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Debunk News</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="https://www.bbc.com/news"
          ><button type="button" class="btn btn-outline-warning">BBC</button></a
        >
        <a class="nav-link" href="https://edition.cnn.com/"
          ><button type="button" class="btn btn-outline-warning">CNN</button></a
        >
        <a class="nav-link" href="https://www.aljazeera.com/news/"
          ><button type="button" class="btn btn-outline-warning">
            ALJAZEERA
          </button></a
        >
        <a class="nav-link" href="https://www.france24.com/en/"
          ><button type="button" class="btn btn-outline-warning">
            FRANCE 24
          </button></a
        >
        <a class="nav-link" href="https://www.dw.com/en/top-stories/s-9097"
          ><button type="button" class="btn btn-outline-warning">DW</button></a
        >
        <a class="nav-link" href="https://www.cnbc.com/world/?region=world"
          ><button type="button" class="btn btn-outline-warning">
            CNBC
          </button></a
        >
        <a class="nav-link" href="https://www.citizen.digital/"
          ><button type="button" class="btn btn-outline-warning">
            CITIZEN DIGITAL
          </button></a
        >
        <a class="nav-link" href="https://www.standardmedia.co.ke/ktnnews/"
          ><button type="button" class="btn btn-outline-warning">
            KTN NEWS
          </button></a
        >
        <a class="nav-link" href="https://www.businessdailyafrica.com/"
          ><button type="button" class="btn btn-outline-warning">
            BUSINESS DAILY
          </button></a
        >
        <a class="nav-link" href="https://www.eonline.com/"
          ><button type="button" class="btn btn-outline-warning">
            E! NEWS
          </button></a
        >
        <a class="nav-link" href="https://supersport.com/"
          ><button type="button" class="btn btn-outline-warning">
            SUPERSPORT
          </button></a
        >
        <a class="nav-link" href="https://www.nationalgeographic.com/"
          ><button type="button" class="btn btn-outline-warning">
            NAT GEO
          </button></a
        >
      </div>
    </div>
  </div>
</nav>
